.form {
    width: 30%;
    height: 380px;
    margin-left: 35%;
    background: #a4b3ff;
    color: white;
}

.textarea {
    width: 79%;
    height: 200px;
    margin: 10%;
    margin-top: 0;
    margin-bottom: 1%;
}

.input_field {
    width: 79%;
    margin: 10%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.submit_button {
    float: right;
    margin: 3%;
    margin-right: 10%;
}

.submit_header {
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
}

.news_card {
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    background: #a4b3ff;
    color: white
}

.flex_text {
    display: flex;
}